<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      
    <ion-title>Actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item-group *ngFor="let actividad of activities">
          <ion-item-divider sticky>
              <ion-avatar slot="start">
                 
                  <ion-img *ngIf="actividad.type==='Run'" src="./../../../assets/images/actividades/avatar/runner.jpg"></ion-img>
                  <ion-img *ngIf="actividad.type==='Ride'" src="./../../../assets/images/actividades/avatar/btt.jpg"></ion-img>
              </ion-avatar>
             
            
                    <ion-grid>
              
                    <ion-row>
                        <ion-col align-self-start>
                          <ion-label><h2>{{actividad.name}}</h2></ion-label>
                         </ion-col>
                        
                        <ion-col align-self-end>
                          <ion-label><h3>{{actividad.start_date | date: 'mediumDate' }}</h3></ion-label>
                           
                        </ion-col>
                       
                      </ion-row>
                      <ion-row>
  
                          <ion-col align-self-end>
                            <ion-label>
                               <b>Dist:</b> {{ actividad.distance }}<abbr class="unit" title="metros"> m</abbr>
                               </ion-label>
                          </ion-col>

                          <ion-col align-self-start>
                              <ion-label><b>Desn:</b> {{actividad.total_elevation_gain}}<abbr class="unit" title="minutos"> m</abbr>
                              </ion-label>
                             </ion-col>

                          <ion-col align-self-end>
                              <ion-label><b>Tmp:</b>{{actividad.moving_time}}<abbr class="unit" title="minutos"> min</abbr></ion-label>
                             </ion-col>
                         
                        </ion-row>
                    </ion-grid>
                  
          
            </ion-item-divider>
      </ion-item-group>
  </ion-list>
</ion-content>
