<ion-header>

  <ion-toolbar>
	<ion-buttons slot="start">
          
		<ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">

  prueba
  

	<div *ngIf="auth.user$ | async as user; then authenticated else guest">

	<!-- Usuario no está conectado  -->
	<ng-template #guest>
		<h3> Bienvenido, INVITADO</h3>
		<p> Deberías identificarte para empezar...</p>
		<ion-img src='./assets/images/profile/noFoto.png'></ion-img>



	</ng-template>

		<!-- Usuario SI está conectado  -->
	<ng-template #authenticated>
		SIII
			<div *ngIf="auth.user$ | async as user ">
				<h3> Bienvenido, {{ user.firstName}}</h3>
			<ion-img [src]="user.photoURL"></ion-img>
				<p> UID: {{ user.uid }}</p>
				<p> Strava UID: {{ user.stravaUID }}</p>
				
				<p> Deberías identificarte para empezar...</p> 

			</div>
		
	</ng-template>

	</div>

</ion-content>
