
  #profile-bg {
    position: fixed;
    left: 0;
    top: 62px;
    width: 100%;
    height: 20vh;
    background: url('../../../assets/images/profile/fondo.jpg') no-repeat transparent;
    background-size: cover;
    background-position: 50% 20%;
    text-align: center;
    opacity: 0.7;
  }

  #content {
    position: relative;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
    padding-top: 150px;
  }

  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
    color: #7c7c7c;;
  }
  #profile-name {
    color: #444;
    font-size: 1.5rem;
    margin: 2px auto;
  }
  

  #profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  }