<ion-header>
  <ion-toolbar>
    <ion-title>Norma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 


<ion-row class="animated fadeIn faster">
    <ion-col>
 

            <form (ngSubmit)="guardar(formNorma)"
                      #formNorma="ngForm">
            <!-- <ion-item>
              <ion-label position="stacked">Firebase ID</ion-label>
              <ion-input  type="text" 
                          disabled
                          placeholder="Firebase ID"
                          [(ngModel)]="norma.id"
                          
                          name="id">
              </ion-input>
           
            </ion-item> -->
            <ion-item>
                <ion-label position="stacked"> 
                  <!-- <fa-icon [icon]="faCoffee"></fa-icon>  -->
                  Nombre de la norma</ion-label>
                <ion-input  type="text" 
                            required
                            placeholder="Nombre de la norma"
                            [(ngModel)]="norma.nombre"
                            name="nombre">
                </ion-input>
              
            </ion-item>
            <!-- select -->
            <ion-item>
              <ion-label>Deporte</ion-label>
              <ion-select interface="popover" 
                          [(ngModel)]="selectedDeporte"
                          name="deporte" 
                          placeholder="Selecciona deporte">

                <ion-select-option *ngFor="let item of deporte" [value]= "item.deporte">{{item.deporte}}</ion-select-option>
        
              </ion-select>
            </ion-item>
              <!-- select CRITERIO-->
              <ion-item>
                <ion-label>Criterio</ion-label>
                <ion-select interface="popover" 
                            [(ngModel)]="selectedCriterio"
                            name="criterio" 
                            placeholder="Selecciona criterio">
  
                  <ion-select-option *ngFor="let item of criterio" [value]= "item.criterio">{{item.criterio}}</ion-select-option>
          
                </ion-select>
              </ion-item>
        

            <!-- MinValor -->
            
            <ion-item>
              <ion-label position="stacked">Valor Mínimo</ion-label>
              <ion-input  type="number" 
                          required
                          maxlength="4"
                          placeholder="Indicar valor mínimo exigido"
                          [(ngModel)]="norma.minValor"
                          name="minValor">
              </ion-input>
            </ion-item>
            
            <!-- coeficiente -->

            <!-- <ion-item>
              <ion-label position="stacked">Coeficiente</ion-label>
              <ion-input  type="number" 
                          required
                          placeholder="Indicar el coeficiente"
                          [(ngModel)]="norma.coeficiente"
                          name="coeficiente">
                          <ion-range id="dual-range" dual-knobs pin color="dark" min="0" max="3">
                            <ion-icon slot="start" size="small" name="brush"></ion-icon>
                            <ion-icon slot="end" name="brush"></ion-icon>
                          </ion-range>
              </ion-input>
            </ion-item> -->
          
           
    
            <ion-item>
              <ion-label position="stacked">Coeficiente</ion-label>
              <ion-input  type="number" 
                          required
                          maxlength="3"
                          placeholder="0.0"
                          [(ngModel)]="norma.coeficiente"
                          name="coeficiente">
              </ion-input>
            </ion-item>
            

            <!-- guardar  -->
            <ion-row>
                <ion-col class="ion-text-left">
                    <ion-button type="submit">
                        <ion-icon slot="start" name="archive"></ion-icon>
                        Guardar
                      </ion-button>
                </ion-col>
                <ion-col class="ion-text-right">
                    <ion-button routerLink="/normas" color="light">
                        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
                        Volver
                      </ion-button>
                </ion-col>
              </ion-row>
        </form>
    </ion-col>
  </ion-row>
</ion-content>
