<ion-header>
  <ion-toolbar>
    <ion-title>Norma x Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 


<ion-row >
    <ion-col>
 

            <form [formGroup]="forma" (ngSubmit)="guardarCambios()">
            <!-- <ion-item>
              <ion-label position="stacked">Firebase ID</ion-label>
              <ion-input  type="text" 
                          disabled
                          placeholder="Firebase ID"
                          [(ngModel)]="norma.id"
                          
                          name="id">
              </ion-input>
           
            </ion-item> -->
            <ion-item>
                <ion-label position="stacked"> 
                  <!-- <fa-icon [icon]="faCoffee"></fa-icon>  -->
                  Nombre de la norma</ion-label>
                <ion-input  type="text" 
                            placeholder="Nombre de la norma"
                            formControlName="nombre">
                </ion-input>
              
            </ion-item>
            <!-- select -->
            <!-- <ion-item>
              <ion-label>Deporte</ion-label>
              <ion-select interface="popover" placeholder="Selecciona deporte" name="deporte">
                <ion-select-option value="btt">BTT</ion-select-option>
                <ion-select-option value="road">Road</ion-select-option>
                <ion-select-option value="running">Running</ion-select-option>
                <ion-select-option value="cinta">Cinta</ion-select-option>
                <ion-select-option value="spinning">Spininng</ion-select-option>
        
              </ion-select>
            </ion-item> -->
            <ion-item>
                  <ion-label position="stacked">Deporte</ion-label>
                  <ion-input  type="text" 
                              required
                              placeholder="Selecciona deporte"
                              formControlName="deporte">
                  </ion-input>
          
                
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Criterio</ion-label>
                <ion-input  type="text" 
                            required
                            placeholder="Criterio"
                            formControlName="criterio">
                </ion-input>
            
              
            </ion-item>

            <!-- MinValor -->
            
            <ion-item>
              <ion-label position="stacked">Valor Mínimo</ion-label>
              <ion-input  type="number" 
                          required
                          placeholder="Indicar valor mínimo exigido"
                          formControlName="minValor">
              </ion-input>
            </ion-item>
            
            <!-- coeficiente -->

            <ion-item>
              <ion-label position="stacked">Coeficiente</ion-label>
              <ion-input  type="number" 
                          required
                          placeholder="Indicar el coeficiente"
                          formControlName="coeficiente">
              </ion-input>
            </ion-item>
            

            <!-- guardar  -->
            <ion-row>
                <ion-col class="ion-text-left">
                    <ion-button type="submit">
                        <ion-icon slot="start" name="archive"></ion-icon>
                        Guardar
                      </ion-button>
                </ion-col>
                <ion-col class="ion-text-right">
                    <ion-button routerLink="/normas" color="light">
                        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
                        Volver
                      </ion-button>
                </ion-col>
              </ion-row>
        </form>
    </ion-col>
  </ion-row>
</ion-content>
