
a{
    color : #f17362;
}


 


    ion-content{
         --background: url('../../../assets/images/login/bg.jpg') no-repeat 50% 100% / cover;

    }

    ion-list, ion-item{
        background-color: rgba(0, 0, 0, 0);
        --background: rgba(0, 0, 0, 0);

    }
    ion-input{
        padding: 5px;
        margin: 5px;
        border:0;
      
    }
    ion-input:focus{
        padding: 5px;
        margin: 5px;
        border:2px;
      
    }



