<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
</ion-buttons>
  <ion-toolbar>
    <ion-title>NORMAS</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="animated fadeIn faste" >
<!-- // Botón más -->
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" routerLink="/norma/nueva">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div *ngIf="!cargando && tempNormas.length > 0">

  <ion-card *ngFor="let norma of $normas | async">
  
    <ion-card-header>
      <ion-card-subtitle>
              <ion-label>{{ norma.deporte}}</ion-label>
     
    </ion-card-subtitle>  

      <ion-card-title>{{ norma.nombre}}</ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label *ngIf='norma.criterio==="Desnivel"'>Mínimo:{{ norma.minValor}} .m </ion-label>
        <ion-label *ngIf='norma.criterio==="Distancia"'>Mínimo:{{ norma.minValor}} .km </ion-label>
        <ion-label *ngIf='norma.criterio==="Tiempo"'>Mínimo:{{ norma.minValor}} .s </ion-label>
    </ion-item>
     <ion-item>
      <ion-label>Criterio: {{norma.criterio}} </ion-label>
    </ion-item>
  
      <ion-item>
        <ion-label>Coeficiente: {{norma.coeficiente }}</ion-label>
      </ion-item>
 
     
    </ion-card-content>
  </ion-card>
  </div>

   <!-- alertas -->
<div *ngIf="!cargando && tempNormas.length === 0"
class="alert alert-warning text-center mt-3 animated fadeIn faste">
<h4>No hay registros</h4>
<p>
<ion-icon name="warning"></ion-icon>
</p>
<p class="mb-0">
Espere por favor
</p>
</div>

<!-- loader sencillo -->
<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4>Cargando...</h4>
  <p>
      <ion-spinner name="crescent"></ion-spinner>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>


</ion-content>
