
<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
</ion-buttons>
  <ion-toolbar>
    <ion-title>NORMAS</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
<!-- // Botón más -->
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- {{normas.length}} -->

  {{cargando}}

  <!-- *ngIf="!cargando"  -->
  <div>

  <ion-list>
    <ion-item-group *ngFor="let norma of normas">
        <ion-item-divider sticky>
            <ion-avatar slot="start">
               
                <ion-img *ngIf="norma.deporte==='Run'" src="./../../../assets/images/actividades/avatar/runner.jpg"></ion-img>
                <ion-img *ngIf="norma.deporte==='BTT'" src="./../../../assets/images/actividades/avatar/btt.jpg"></ion-img>
            </ion-avatar>
           
          
                  <ion-grid>
            
                  <ion-row>
                    
                      <ion-col align-self-start>
                        <ion-label><h2>{{norma.nombre}}</h2></ion-label>
                       </ion-col>
                      
                      <ion-col align-self-end>
                        <ion-label><h3>{{norma.deporte }}</h3></ion-label>
                        
                      </ion-col>
                      <div float-right (click)="editar(norma)" class="mx-3" data-toggle="modal" data-target="#exampleModal">
                        <fa-icon [icon]="faPencil"></fa-icon>
                      </div>
                      <div float-right (click)="eliminar(norma)"><fa-icon [icon]="faTrash"></fa-icon></div>
                      
                    </ion-row>
                      <ion-row>
                      <ion-col align-self-start>
                        <ion-label><p>{{norma.criterio }}</p></ion-label>
                         
                      </ion-col>
                      <ion-col align-self-start>
                        <ion-label><small>Mínimo: {{norma.minValor }}</small></ion-label>
                         
                      </ion-col>
                      <ion-col align-self-start>
                        <ion-label><small>Coeficiente: {{norma.coeficiente }}</small></ion-label>
                         
                      </ion-col>
                    </ion-row>
                  </ion-grid>

          </ion-item-divider>
    </ion-item-group>
</ion-list>

<!-- final lilsta de normas  -->
  </div>



  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ editNorma.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- FORMULARIO -->
        <form [formGroup]="forma" (ngSubmit)="agregarNormaEdita()">
        
          <ion-item>
              <ion-label position="stacked">Nombre de la norma</ion-label>
              <ion-input  type="text" 
                          placeholder="Nombre de la norma"
                          [(ngModel)]="editNorma.nombre" 
                          formControlName="nombre">
              </ion-input>
          </ion-item>
     
            <!-- <ion-text *ngIf="nombreField.errors && nombreField.dirty" color="danger">
              <small *ngIf="nombreField.hasError('required')">Indica un nombre</small> 
          </ion-text>-->
   
         
          <!-- select -->
          <ion-item>
            <ion-label>Deporte</ion-label>
            <ion-select interface="popover" 
                        formControlName="deporte" 
                        [(ngModel)]="editNorma.deporte" 
                        placeholder="Selecciona deporte">

              <ion-select-option *ngFor="let item of deporte" [value]= "item.deporte">{{item.deporte}}</ion-select-option> 
      
            </ion-select>
          </ion-item>

            <!-- select CRITERIO-->
            <ion-item>
              <ion-label>Criterio</ion-label>
              <ion-select interface="popover" 
                          formControlName="criterio" 
                          [(ngModel)]="editNorma.criterio" 
                          placeholder="Selecciona criterio">

                <ion-select-option *ngFor="let item of criterio" [value]= "item.criterio">{{item.criterio}}</ion-select-option> 
        
              </ion-select>
            </ion-item>
      

          <!-- MinValor -->
          
          <ion-item>
            <ion-label position="stacked" >Valor Mínimo 
                                                                                    <!-- <span *ngIf='criterio==="Desnivel"'>.m </span>
                                                                                    <span *ngIf='item.criterio==="Distancia"'>.m </span>
                                                                                    <span *ngIf='item.criterio==="Tiempo"'>.seg </span> -->
                                                                                                 </ion-label>
            <ion-input  type="number" 
                        placeholder="Indicar valor mínimo exigido"
                        [(ngModel)]="editNorma.minValor" 
                        
                        formControlName="minValor">
            </ion-input>
          </ion-item>
        
        
         
  
          <ion-item>
            <ion-label position="stacked">Coeficiente</ion-label>
            <ion-input  type="number" 
                        placeholder="0.0"
                        [(ngModel)]="editNorma.coeficiente" 
                        formControlName="coeficiente">
            </ion-input>
          </ion-item>
          

      </form>
        <!-- fin formulario -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Editar</button>
      
      </div>
    </div>
  </div>
</div>


   <!-- alertas -->
<!-- <div *ngIf="!cargando && tempNormas.length === 0"
class="alert alert-warning text-center mt-3 animated fadeIn faste">
<h4>No hay registros</h4>
<p>
<ion-icon name="warning"></ion-icon>
</p>
<p class="mb-0">
Espere por favor
</p>
</div>

loader sencillo
 <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4>Cargando...</h4>
  <p>
      <ion-spinner name="crescent"></ion-spinner>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div> --> 

<app-norma></app-norma>
</ion-content>
