<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      T-Reto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- retors  -->
 <ion-card routerLink="/retos-firebase">
   <ion-img src="../../assets/images/home/retos.jpg" alt="Acceso a la sección de retos"></ion-img>
    <ion-card-header>
        <ion-card-title>Retos</ion-card-title>
    </ion-card-header>
</ion-card>

<!-- actividades -->
<ion-card routerLink="/activities">
    <ion-img src="../../assets/images/home/actividades.jpg" alt="Acceso a las actividades"></ion-img>
     <ion-card-header>
         <ion-card-title>Actividades</ion-card-title>
     </ion-card-header>
 </ion-card>
</ion-content>
